<!DOCTYPE html>
<html>

<head>
  <title>Tournament Manager</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <!-- Bulma Version 0.8.x-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/landing.css">
</head>

<body>
<section class="hero is-fullheight is-dark is-bold">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../">
            <%= image_tag('icon.png') %>
          </a>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <%= yield %>
  </div>

</section>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script async type="text/javascript" src="../js/bulma.js"></script>
</body>

</html>
<!DOCTYPE html>